[Desktop Entry]
Encoding=UTF-8
Name=IceWM menu editor
Name[pl]=Edytor menu IceWM
Comment=Graphical menu-editor for Icewm
Comment[pl]=Graficzny edytor menu dla icewm
Icon=
Exec=iceme
Terminal=false
Type=Application

# vi: encoding=utf-8
